<div id="painel" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="100">
    <div id="card-principal" *ngIf="loadingDados" fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-raised-button class="button-dash" color="primary">
            <mat-icon>shop</mat-icon>
            <h3>Total de Promoçoes<br>cadastradas 0</h3>
        </button>
        <button mat-raised-button class="button-dash" color="primary">
            <mat-icon>person</mat-icon>
            <h3>Total de usuario<br>alcancados 0</h3>
        </button>
    </div>
</div>