<!--The content below is only a placeholder and can be replaced.-->
<ngx-loading-bar></ngx-loading-bar>
<mat-toolbar color="primary">
  <span>Oficina 2</span>
  <span class="example-spacer"></span>
  <span *ngIf="!user.emailVerified">
    <button class="margin-r30" mat-raised-button (click)="linkRota('login')">
      <mat-icon>account_circle</mat-icon> Login
    </button>
    <button mat-raised-button (click)="linkRota('register')">
      <mat-icon>person_add</mat-icon> Register
    </button>
  </span>
  <span *ngIf="user.emailVerified">
    <img [src]="user.photoURL" class="img-button-header margin-r30" [alt]="user.displayName">
    <button mat-raised-button>
      {{user.displayName}}</button>
    <button mat-raised-button>
      <mat-icon>close</mat-icon> Logout
    </button>
  </span>
</mat-toolbar>
<div id="rotas">
  <router-outlet></router-outlet>
</div>