.example-spacer {
  flex: 1 1 auto;
}
#rotas {
  width: 100%;
  overflow: auto;
  min-height: calc(100vh - 64px);
  margin-top: 64px;
  position: relative;
  padding-bottom: 0;
}
.img-button-header {
  width: 30px;
  height: 30px;
}
.margin-r30 {
  margin-right: 30px;
}
#largura-total {
  width: 100%;
}
#largura-total.login-total {
  width: calc(100% - 280px);
  max-width: calc(100% - 280px);
}
