<ngx-loading-bar></ngx-loading-bar>
<ng-container>
    <mat-toolbar color="primary" class="example-header">
        <mat-icon class="menu-botao" (click)="sidenav.toggle()" *ngIf="cliente">
            menu
        </mat-icon>
        <mat-icon *ngIf="!cliente">loyalty</mat-icon>
        <span>Gastando Pouco</span>
        <span class="example-spacer"></span>
        <button mat-mini-fab [matMenuTriggerFor]="menuLogin" color="primary" *ngIf="cliente">
            <mat-icon>shop</mat-icon>
        </button>
        <mat-menu #menuLogin="matMenu">
            <!-- <button mat-menu-item class="margin-r30" (click)="linkRota('login')">
                <mat-icon>account_circle</mat-icon> Login
            </button>
            <button mat-menu-item (click)="linkRota('register')">
                <mat-icon>loyalty</mat-icon> Register
            </button> -->
            <button mat-menu-item (click)="logout()">
                <mat-icon>close</mat-icon> Logout
            </button>
        </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container class="example-container min-container" autosize>
        <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" class="example-sidenav">
            <mat-nav-list>
                <mat-list-item [routerLink]="[ '/index' ]" routerLinkActive="active">
                    <mat-icon>money</mat-icon> Promoçoes
                </mat-list-item>
                <mat-list-item [routerLink]="[ '/maps' ]" routerLinkActive="active">
                    <mat-icon>map</mat-icon> Mapa
                </mat-list-item>
                <mat-list-item [routerLink]="[ '/favorite' ]" routerLinkActive="active">
                    <mat-icon>favorite</mat-icon> Favoritos
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div fxLayout="column" fxLayoutAlign="start stretch" flex="100" id="rotas">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>