.menu-botao {
    padding-right: 20px;
}

#rotas {
    width: 100%;
    overflow: auto;
}

.img-button-header {
    width: 30px;
    height: 30px;
}

.margin-r30 {
    margin-right: 30px;
}
.example-margin{
    width: 100%;
}