@media (max-width: 599px) {
  .mat-controler-edit-profile {
    margin: 0 auto;
    max-width: auto;
    width: auto !important;
  }
}
.mat-controler-edit-profile {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}
