<div class="login">
    <div class="centraliza">
        <mat-card class="card-login">
            <mat-card-header>
                <img mat-card-avatar *ngIf="photoURL" class="example-header-image" [src]="photoURL">
                <mat-card-title *ngIf="displayName">{{displayName}}</mat-card-title>
                <mat-card-subtitle *ngIf="email">{{email}}</mat-card-subtitle>
            </mat-card-header>
            <mat-divider>
            </mat-divider>
            <mat-card-content>
                <span *ngIf="!emailVerified">
                    <h5 *ngIf="email">Para continuar o cadastro verifique seu usuario no email e recarregue a pagina</h5>
                    <h5 fxLayout="column" fxLayoutAlign="start center">
                        <a mat-raised-button color="primary" href="/form-empresa">Recarregar a pagina</a>
                    </h5>
                </span>
                <span *ngIf="emailVerified">
                    verificado
                </span>
            </mat-card-content>
            <mat-divider>
            </mat-divider>
            <mat-card-actions>
                <button mat-button>Ok</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>