<div class="login">
    <div class="centraliza">
        <mat-card class="card-login">
            <mat-card-header>
                <img mat-card-avatar *ngIf="photoURL" class="example-header-image" [src]="photoURL">
                <mat-card-title *ngIf="displayName">{{displayName}}</mat-card-title>
                <mat-card-subtitle *ngIf="email">{{email}}</mat-card-subtitle>
            </mat-card-header>
            <mat-divider>
            </mat-divider>
            <mat-card-content>
                <span *ngIf="!emailVerified">
                    <h5 *ngIf="email">Para continuar o cadastro verifique seu usuario no email e recarregue a pagina</h5>
                </span>
                <span *ngIf="emailVerified">
                    verificado
                </span>
            </mat-card-content>
            <mat-divider>
            </mat-divider>
            <mat-card-actions>
                <div class="larg-100" *ngIf="!emailVerified" fxLayout="row" fxLayoutAlign="center center">
                    <span class="span-1">
                        <a mat-raised-button color="primary" href="/form-empresa">Recarregar a pagina</a>
                    </span>
                    <span class="span-1" class="marg-10">
                        <p>ou</p>
                    </span>
                    <span class="span-1">
                        <button mat-raised-button (click)="reEnviarEmail()" color="warn">Reenviar Email</button>
                    </span>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>