#form-card-left-top {
  margin-top: 20px;
  margin-right: 20px;
}
.personal-image {
  text-align: center;
}
.personal-image input[type="file"] {
  display: none;
}
.personal-figure {
  position: relative;
  /* width: 120px;
  height: 120px; */
  width: 100%;
  margin: 0 auto;
}
.personal-avatar {
  cursor: pointer;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  transition: all ease-in-out 0.3s;
}
.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out 0.3s;
}
.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);
}
.personal-figcaption > img {
  height: 30%;
  padding: 30px;
  padding-top: 20%;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 0 auto;
}
.postagem-thumbnail,
.postagem-exemplo img {
  margin: 0 auto;
  width: 100%;
}
.input-default {
  display: none;
}

.input-default + label {
  font-size: 1.25em;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  max-width: 200px;
  cursor: pointer;
}
.crop-preview.local {
  width: 100%;
}
.pading-5-left {
  padding-left: 10px;
}
.botao-caption {
  height: 100%;
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
input.example-right-align {
  -moz-appearance: textfield;
}
