<div class="login">
    <div class="centraliza">
        <mat-card class="card-login">
            <div fxLayout="column" fxLayoutAlign="center stretch">
                <mat-form-field class="formbase">
                    <input matInput placeholder="Email" type="email">
                </mat-form-field>
                <mat-form-field class="formbase">
                    <input matInput type="password" placeholder="Senha">
                </mat-form-field>
            </div>
        </mat-card>
    </div>
</div>