<div class="login">
    <div class="centraliza">
        <mat-card class="card-login">
            <div fxLayout="column" fxLayoutAlign="center stretch">
                <mat-form-field class="formbase">
                    <input matInput placeholder="Email" type="email">
                </mat-form-field>
                <mat-form-field class="formbase">
                    <input matInput type="password" placeholder="Senha">
                </mat-form-field>
                <div class="login-button">
                    <button mat-raised-button color="primary" class="button-login" fxFlexAlign="center">
                        Login
                    </button>
                </div>
                <div class="login-button">
                    <p class="ou-login text-center">ou</p>
                </div>
                <div class="login-button">
                    <button class="button-login facebook" mat-raised-button>Facebook</button>
                </div>
                <div class="login-button">
                    <button class="button-login googleaccount" mat-raised-button>Google</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>